/* ------------ IMPORT FONTS ---------- */
@import url("/asset/fonts/");


/*------------- CSS RESETS ------------ */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

/* --------------root variable -----------*/
:root {
  --color-body: #fff;
  --color-primary: #219f95;
  --color-secondary-dark: #234894;
  --color-secondary-dark: #afcedd;
  --color-headings: #1e1e1e;
  --color-light: #696969;
}
/* :root{
  --font-weight-light:300;
  --font-weight-normal:500;
  --font-weight-bold:700;
  --font-weight-extra-bold:900;
  --color-violet-200:#ddd6fe;
  --color-violet-300:#c4b5fd;
  --color-emberald-10:#bff0de;
  --color-emberald-300:#6ee7b7;
  --color-emberald-500:#10b981;
  --color-indigo-50:#eef2ff;
  --color-indigo-100:#e0e7ff;
  --color-indigo-200:#c7d2fe;
  --color-slate-50:#f8fafc;
  --color-slate-150:#b3bdb9;
  --color-white:#fff;
  --border-radius-0:0;
  --border-radius-8:8px;
  --border-radius-20:20px;
} */


/* ------------- HTML STYLES ---------- */
html {
  font-size: 62.5%;
}

/* ------------- BODYSTYLES ----------- */
body {
  color: var(--color-body);
  font-size: 1.8rem;
}
/* body{
  font-family: Vazirmatn;
  background: linear-gradient(to bottom left,var(--color-emberald-300),10%,var(--color-violet-200)) ;
  background-repeat: no-repeat;
    background-attachment: fixed;
} */


h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.2rem;
  margin-right: 2rem;
  color: var(--color-light);
}

h3 {
  margin-right: 2rem;
  margin-top: 1rem;
  font-size: 1.8rem;
}

/* navbar */

.navbar {
  font-family: vazirmatn;
  font-weight: 700;
  font-size: 2.2rem;
  display: inline-block;
  color: #1e1e1e;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

/* container */

.container {
  font-family: vazirmatn;
  background-color: var(--color-body);
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

/* slides */

.badge {
  font-family: vazirmatn;
  color: var(--color-primary);
  background-color: var(--color-secondary-dark);
  display: flex inline;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0.5rem 1.2rem;
  margin: 2rem 2rem;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

.apply__slide {
  margin: 2rem;
  border-radius: 16px;
  outline: none;
  height: 200px;
  width: 400px;
  box-shadow: 0 0 30px 10px #f6f6f6;
}

.apply__date {
  font-family: vazirmatn;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: start;
  padding: 0.5rem 1.2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-light);
  font-weight: 700;
}

.apply__file {
  font-family: vazirmatn;
  display: flex inline;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.2rem;
  /* margin-right: 1rem; */
  margin-top: 2rem;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--color-primary);
  font-weight: 500;
}

.btn .name {
  color: var(--color-headings);
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: 5px;
}

.btn__botton {
  background-color: #219f95;
  font-size: 1.6rem;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  margin-left: 1rem;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.apply__slide--card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.btn .image {
  width: 40px;
  height: 40px;
  display: flex;
  border: 5px;
  border-radius: 6px;
  background-color: var(--color-secondary-dark);
  margin: 1rem 1.5rem 0 0;
}

@media screen and (min-width: 768px) {
  .container {
    font-family: vazirmatn;
    background-color: var(--color-body);
    margin: 0 auto;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1400px;
    font-family: vazirmatn;
    background-color: var(--color-body);
    margin: 0 auto;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    align-content: center;
  }
}

@media screen and(min-width:1024px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    margin: 5rem auto;
  }
}
